.navbar ul li {
    list-style: none;
}
.navbar ul {
    display: flex;
}

.navbar {
    background: rgba(0,0,0,0.5);
    height:70px;
    box-shadow: 5px 5px 10px -2px rgba(0,0,0,0.3);
}

.navbar ul li {
    margin: 10px;
}

.account-actions {
    background: none;
    padding-bottom: 18px;
    color: white;
    border: none;
}
.account-actions:hover {
    color: blue;
    border-bottom: solid;
}

.picture-icons {
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.picture-icons:hover {
    color: blue;
}

.navbar-btns {
    position: absolute;
    right: 20px;
    top: 10px;
}